@page "/Depositos/Editar/{depositoId:int}"
@inject IHttpService http
@inject NavigationManager navigationManager

<h3>Editar deposito</h3>


<FormDeposito deposito="deposito" onCancel="Cancelar" onValidSubmit="Grabar" />


@code
{
    private Deposito deposito = new Deposito();
    [Parameter] public int depositoId { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Mostrar();
    }

    private async Task Mostrar()
    {
        var respuesta = await http.Get<Deposito>($"api/Depositos/{depositoId}");
        if (respuesta.Error)
        {
            var body = respuesta.HttpResponseMessage;
        }
        else
        {
            deposito = respuesta.Respuesta;
        }
    }

    private async void Grabar()
    {
        var respuesta = await http.Put<Deposito>($"api/Depositos/{depositoId}",
                                                     deposito);
        if (respuesta.Error)
        {
            var body = respuesta.HttpResponseMessage;
        }
        navigationManager.NavigateTo("/Depositos");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/Depositos");
    }
}