@page "/Productos/Editar/{id:int}"
@inject IHttpService http
@inject NavigationManager navigationManager
@using Despensa.BD.Datos.Entidades
@using Despensa.Client.Servicios


<h3>Editar producto</h3>


<FormProducto producto="producto" onCancel="Cancelar" onValidSubmit="Grabar" />


@code
{
    private Producto producto = new Producto();
    [Parameter] public int id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Mostrar();
    }

    private async Task Mostrar()
    {
        var respuesta = await http.Get<Producto>($"api/Productos/{id}");
        if (respuesta.Error)
        {
            var body = respuesta.HttpResponseMessage;
        }
        else
        {
            producto = respuesta.Respuesta;
        }
    }

    private async void Grabar()
    {
        var respuesta = await http.Put<Producto>($"api/Productos/{id}",
                                                     producto);
        if (respuesta.Error)
        {
            var body = respuesta.HttpResponseMessage;
        }
        navigationManager.NavigateTo("/Productos");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/Productos");
    }
}