@page "/Empleados/Crear"
@inject IHttpService http
@inject NavigationManager navigationManager

<h3>Nuevo empleado</h3>

<FormEmpleado empleado="empleado" onCancel="Cancelar" onValidSubmit="Grabar" />


@code {
    private Empleado empleado = new Empleado();

    private async void Grabar()
    {
        var httpRespuesta = await http.Post<Empleado>("api/Empleados", empleado);
        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }
        navigationManager.NavigateTo("/Empleados");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/Empleados");
    }
}