@page "/Categorias"
@inject IHttpService http
@using Despensa.BD.Datos.Entidades
@using Despensa.Client.Servicios


<h3>Lista de Categorias</h3>

<a class="btn btn-primary" href="Categorias/Crear">Nueva categoria</a>




<table>
    <tr>
        <th>Tipo</th>
        <th>Codigo</th>
        <th>Producto</th>
    </tr>

    @if (categorias == null)
    {
        <tr>Cargando.......</tr>
    }
    else if (categorias.Count == 0)
    {
        <tr>No existen datos</tr>
    }
    else
    {
        @foreach (var item in categorias)
        {
            <tr>
                <td>@item.TipoCategoria</td>
                <td>@item.CodigoCategoria</td>
                <td>
                    <a class="btn btn-primary"
               href="Categorias/Editar/@item.Id">
                        Editar
                    </a>
                </td>

            </tr>
        }
    }
</table>



@code {

    List<Categoria> categorias;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LeerCategorias();
    }

    private async Task LeerCategorias()
    {
        var respuesta = await http.Get<List<Categoria>>("api/Categorias");
        if (!respuesta.Error)
        {
            categorias = respuesta.Respuesta;
        }
    }
}